<%# Learning::TextDisplayComponent template %>
<%# Renders text content with blanks for memorization practice %>

<div class="<%= container_classes %>" data-level="<%= @level %>"<% if @interactive %> data-controller="text-display" data-text-display-level-value="<%= @level %>"<% end %>>
  <p class="whitespace-pre-wrap">
    <% parsed_content.each_with_index do |segment, idx| %>
      <% if segment[:type] == :blank %>
        <% if @show_answers %>
          <span class="text-green-600 font-medium"><%= segment[:answer] %></span>
        <% else %>
          <span class="<%= blank_classes %>"<% if @interactive %> data-action="click->text-display#revealBlank" data-text-display-target="blank" data-index="<%= segment[:index] %>"<% end %> data-answer="<%= segment[:answer] %>">
            <%= segment[:value].gsub('_', '&nbsp;').html_safe %>
          </span>
        <% end %>
      <% else %>
        <%= segment[:value] %><%= " " unless idx == parsed_content.length - 1 %>
      <% end %>
    <% end %>
  </p>
</div>
